html , input , button {
    font-family: "Vazir" !important;
    direction: rtl
}
#blue{
    background-color: rgb(16, 165, 211);
    height: 30px;
    width: 30px;
    border : 0.25px solid black;
    border-radius: 0.375rem;
}
#green{
    background-color: rgb(27, 131, 27);
    height: 30px;
    width: 30px;
    border : 0.25px solid black;
    border-radius: 0.375rem;

}
#red{
    background-color: rgb(194, 117, 46);
    height: 30px;
    width: 30px;
    border : 0.25px solid black;
    border-radius: 0.375rem;
}
#withc{
    background-color: #ffff;
    height: 30px;
    width: 30px;
    border : 2px solid black;
    border-radius: 0.375rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}
.start-box {
    margin: 20px 0;
    display: none;
}
.start-box.active{
    display: block;
}

.start-box #input-counter {
    padding: 7px;
    width: 300px;
    outline-color: black;
    border: 1px solid rgba(0,0,0,.4);
    border-radius: 2px;
}

.start-box #start-counter {
    border: none;
    padding: 7px 10px;
    cursor: pointer;
    background: #e74c3c;
    color: white;
    border-radius: 2px;
}

.message {
    margin-top: 10px;
    font-size: .9em;
}

.message .loading {
    color: #e74c3c;
    display : none;
}

.message .success {
    color: #27ae60;
    display : none;
}
#error-message{
    color: #e74c3c;
    font-size: 0.8rem;
    display :none;
}
#error-message.active{
    display : block;
}

.c100 {
    display : none;
}

.h1{
	color: rgba(240, 6, 6, 0.945);
	display: flex;
	align-items: center;
	justify-items: center;
	flex-direction: column;
}
.a{
	text-decoration:none;
}